@page "/"
@layout LandingPageLayout

<PageTitle>AI Chef -A Recipes App</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center p-2">
            <div class="col text-end me-3">
                <a href="https://www.linkedin.com/in/filza-niazi-782804109/" target="_blank">About Me</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="images/AiChefLogoLight.png" height="300"/>
            </div>
            <div class="text-center mt-5">
                <a href="/createmeal" class="btn btn-lg" id="homePageButton">Get Started</a>
            </div>
        </main>
        <footer class="text-center" p-2">
            

            Copyright 2024 Filza Niazi
            <!--Add linkedin and website -->
        </footer>
    </div>
</div>